@model CVB_Web.ViewModels.ConsultantDashboard

<p></p>
<p></p>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/meradia-globe.png" />
        </div>
        <div class="col-md-10">
            <h1>Meradia Consultant Center</h1>
        </div>
    </div>
    <p class="lead">
        Hello, Thomas E. Alex. This is where you enter your TimeSlips, and maintain your CV Profile.
    </p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Timeslips</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Vacation Days Remaining</dt>
                        <dd>@String.Format("{0:n0}", Model.vacation_days_remaining)</dd>
                    <dt>Hours This Week</dt>
                        <dd>@Model.hours_this_week </dd>
                    <dt>Hours Last Week</dt>
                        <dd>@Model.hours_last_week </dd>
                    <dt>Hours Month to Date</dt>
                        <dd>@Model.hours_mtd </dd>
                    <dt>Hours Last Month</dt>
                        <dd>@Model.hours_last_month </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My CV Profile and Experience</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Date of Last Edit</dt>
                    <dd>Like, ages ago!</dd>
                    <dt>Application Count</dt>
                    <dd>16</dd>
                </dl>
            </div>
        </div>
    </div>
</div>