
@{
    ViewBag.Title = "ReferenceTables";
}

<h2>ReferenceTables</h2>

<ol>    
    @Html.ActionLink("Companies","Index","Company")
    @Html.ActionLink("Domains", "Index", "Domain")
    @Html.ActionLink("App Domain", "Index", "AppDomain")
    @Html.ActionLink("App Vendor", "Index", "AppVendor")
    @Html.ActionLink("Application", "Index", "Application")
</ol>

