@model CVB_Web.Models.application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.application_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.application_nm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.application_descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.application_descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formal_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formal_nm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_domain.app_domain_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_domain.app_domain_nm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_vendor.app_vendor_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_vendor.app_vendor_nm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
