@using CVB_Web.Models;
@using CVB_Web.Extensions;
@model IEnumerable<CVB_Web.Models.company>

@{
    ViewBag.Title = "Companies";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.BuildSortableLink("Name","Index","company_nm",queryOptions)</th>
        <th>@Html.BuildSortableLink("Is Client", "Index", "is_client", queryOptions)</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.company_nm)</td>
            <td>@Html.DisplayFor(modelItem => item.is_client)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
</table>
