@model CVB_Web.Models.consultant_biography

<h2>Biography for @Model.consultant.consultant_nm </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.bio_descr)</dt>
        <dd>@Html.DisplayFor(model => model.bio_descr)</dd>

        <dt>@Html.DisplayNameFor(model => model.show)</dt>
        <dd>@Html.DisplayFor(model => model.show)</dd>

        <dt>@Html.DisplayNameFor(model => model.bio_txt)</dt>
        <dd>@Html.DisplayFor(model => model.bio_txt)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index", new { consultant_id = Model.consultant_id })
</p>
