@model IEnumerable<CVB_Web.Models.consultant_biography>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bio_txt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.show)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bio_descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.show_RIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consultant.consultant_nm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bio_txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.show)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bio_descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.show_RIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consultant.consultant_nm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
