@model CVB_Web.Models.consultant

<h2>Edit Consultant</h2>

<form action="@Url.Action("Edit", "Consultant", new { id=Model.ID })"
      class="form-horizontal" method="post" novalidate="novalidate">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.consultant_nm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.consultant_nm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.consultant_nm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.title_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("title_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.title_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.consultant_initials, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.consultant_initials, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.consultant_initials, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.start_dt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*for date inputs, we need an inline style to override a line-height of 38px*@
            @Html.EditorFor(model => model.start_dt, new { htmlAttributes = new { @class = "form-control", @style="line-height: inherit;"} })
            @Html.ValidationMessageFor(model => model.start_dt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.end_dt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.end_dt, new { htmlAttributes = new { @class = "form-control", @style = "line-height: inherit;" } })
            @Html.ValidationMessageFor(model => model.end_dt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image_url, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input name="image_url" id="image_url" class="form-control" type="text" value="@Model.image_url" style="max-width:3000px" />
            @Html.ValidationMessageFor(model => model.image_url, "", new { @class = "text-danger" })
            @{  string imgUrl = Model.image_url;
                // image_url's migrated from the original Access database had prefixes like "TEA Photo#".
                // if we find a '#' character, ignore it and everything to the left.
                //if (imgUrl.IndexOf("#") > -1) { imgUrl = imgUrl.Split('#')[1]; }
            }
            <img src="@imgUrl" height="112" width="122">
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.is_admin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.is_admin, new { htmlAttributes = new { @class = "form-control", @style = "margin-left: 0px;" } } )
                @Html.ValidationMessageFor(model => model.is_admin, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.is_manager, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.is_manager, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.is_manager, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email_address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email_address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email_address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.noteworthy_intro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea class="form-control" rows="3" name="noteworthy_intro" id="noteworthy_intro" style="max-width:3000px">@Model.noteworthy_intro</textarea>
            @Html.ValidationMessageFor(model => model.noteworthy_intro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.birth_dt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.birth_dt, new { htmlAttributes = new { @class = "form-control", @style = "line-height: inherit;" } })
            @Html.ValidationMessageFor(model => model.birth_dt, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vacation_available, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.vacation_available, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.vacation_available, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
