@using CVB_Web.Models;
@using CVB_Web.Extensions;
@model IEnumerable<CVB_Web.Models.consultant>

@{
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Consultants</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "Consultant", FormMethod.Get))
    {
        <label>Filter by Title:</label>
        @Html.DropDownList("Title", "All")
        <input type="submit" value="Filter" />
        <input type="hidden" name="Search" id="Search" value="@ViewBag.Search" />
    }
</p>

<table class="table">
    <tr>
        <th>@Html.BuildSortableLink("Name","Index","consultant_nm",queryOptions)</th>
        <th>@Html.BuildSortableLink("Initials","Index", "consultant_initials",queryOptions)</th>
        <th>@Html.BuildSortableLink("Title", "Index", "title.title_nm", queryOptions)</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td> @Html.DisplayFor(modelItem => item.ID) </td>*@
        <td> @Html.DisplayFor(modelItem => item.consultant_nm) </td>
        <td> @Html.DisplayFor(modelItem => item.consultant_initials) </td>
        <td> @Html.DisplayFor(modelItem => item.title.title_nm) </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
